name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v1.64.6

      - name: Go mod tidy
        run: |
          go mod tidy
          git diff --exit-code go.sum
